@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
    --primary: #121127;
    --secondary: #1F2538;
    --accent: #E27982;
    --lightaccent: #fc5a67;
    --darkaccent: #ED8D74;
    --text: #F5F0F6;
    --shadow: #0b0a13;
    font-family: 'Questrial', sans-serif;
  }
body {
    
    text-align: center;
    color: var(--text);
    margin: 0;
    padding: 0;
    background: var(--primary) url("img/hero.jpg") center/cover;
    background-blend-mode:color-dodge; 
    background-attachment: fixed;
    height: 100vh;
}

.navbar{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-evenly;
    height: 12vh;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
}
.navbar div{
    display: flex;
    width: 100%;
    height: 100%;
}
.navbar .selected{
    color: var(--accent);
}
.navbar .alignright{
    padding-right: 16px;
    justify-content: flex-end;
    align-items:center;
}
.navbar .alignleft{
    padding-left: 16px;
    align-items:center;
}
.navbar a{
    color: var(--text);
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}
.navbar ul li{
    margin-right: 12px;
}

.navbar a:hover{
    color: var(--accent);
}

.navbar ul{
    opacity: 1;
    padding: 12px 12px;
    list-style: none;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    -webkit-transition: opacity 0.5s ease, width 0.3s ease;
    -moz-transition: opacity 0.5s ease, width 0.3s ease;
    -ms-transition: opacity 0.5s ease, width 0.3s ease;
    -o-transition: opacity 0.5s ease, width 0.3s ease;
    transition: opacity 0.5s ease, width 0.3s ease;
}
.navbar ul.collapsewidth{
    width: 48px;
    opacity: 0.9;
    overflow: hidden;
    -webkit-transition: opacity 0.5s ease, width 0.3s ease;
    -moz-transition: opacity 0.5s ease, width 0.3s ease;
    -ms-transition: opacity 0.5s ease, width 0.3s ease;
    -o-transition: opacity 0.5s ease, width 0.3s ease;
    transition: opacity 0.5s ease, width 0.3s ease;
}
button{
    transition: 0.3s ease;
    cursor: pointer; 
}
.navbar button{
    border: 2px solid var(--secondary);
    background-color: transparent;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
   
    box-shadow: 0px 0px 10px 0px var(--shadow);
    border-radius: 8px;
    color: var(--text);
}
.navbar button:hover{
    box-shadow: 0px 0px 5px -3px var(--shadow);
    color:var(--accent);
    
}
.navbar .github-btn{
    width: 120px;
    height: 90px;
    
    border-radius: 32px;
}
.navbar .navdownload-btn{
    border-radius: 32px;
    padding-left: 12px;
    padding-right: 12px;
    transform: translate(0, -5%);
}
.navbar .navdownload-btn:hover{
    border-radius: 32px;
    padding-left: 18px;
    padding-right: 18px;
}
.navbar .github-btn:hover{
    
    width: 140px;
}
.navbar .menubutton:hover{
    transform: rotate(180deg);
}


.link{
    color: var(--accent);
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s ease;
}
.link:hover{
    font-size: large;
    
    
}

.herobanner #parallax {
    background-image: url("img/hero.jpg");
    box-shadow: 0px 18px 36px var(--shadow);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
    
}
.herobanner #parallax .content{
    height: 100vh;
    display: block;
    overflow: hidden;
}
.herobanner #parallax img{
    height: 48vh;
    -webkit-filter: drop-shadow(20px 20px 15px --shadow);
    filter: drop-shadow(20px 20px 15px --shadow);
}
.herobanner h1{
    font-size:15vh;
    text-shadow: 0.8vh 0px var(--darkaccent), 3px 3px 10px var(--shadow);
}


.material-symbols-outlined {
    transform: translate(0,10%);
    color: var(--accent);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.pbutton{
    border-radius: 32px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-color: hsla(290, 25%, 95%, 0.7);
background: linear-gradient(180deg, rgba(240,122,255,1) 0%, rgba(155,172,255,1) 45%, rgba(58,228,255,1) 100%);
    box-shadow: 0px 0px 5px -2px var(--shadow);
    color: var(--text);
    
}
.pbutton:hover{
    width: 170px;
    color:var(--text);
    
}
.pbutton div{
    width: 170px;
    display: flex;
    align-items: center;
}
.pbutton span{
    vertical-align: baseline;
    color: var(--text);
    font-size: 36px;
    transform: translate(5px, 0px);
}
.pbutton h2{
    transform: translate(16px, 0px);
}

.about{
    height: 100vh;
    overflow: hidden;
}
.about .content{
    display: inline-block;
    height: 100vh;
    margin: 12%;
    justify-content: space-between;
}

#icon{width: 10%;}
#icontext{width: 60%;}
#heroimg {width: 100%;}
#herobanner{width: 100%;}